<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
  <!--<meta name="viewpoint"-->
        <!--content="width=device-width, initial-scale=1.0">-->
  <!--<meta http-equiv="X-UA-Compatible"-->
        <!--content="ie=edge">-->
  <!--<title>Paypal node app</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
<!--<form action="pay" method="post">-->
  <!--<input type="submit" value="Buy">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
